<!DOCTYPE html>
<html>
<head>
    <title>Graphique des commits par minute</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="graph"></div>
    <script>
        var minutes = {{ minutes }};
        var commits_count = {{ commits_count }};

        var data = [{
            x: minutes,
            y: commits_count,
            type: 'scatter',
            mode: 'lines+markers',
            marker: {color: 'red'},
            line: {shape: 'spline'}
        }];

        var layout = {
            title: 'Commits par minute',
            xaxis: {title: 'Minute'},
            yaxis: {title: 'Nombre de commits'}
        };

        Plotly.newPlot('graph', data, layout);
    </script>
</body>
</html>
